.container {
  width: 80%;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 30px;
}

.option {
  width: 100%;
  text-align: end;
}

